@import "/ASSETS/CSS/COLORES.css";

@font-face {
	font-family: 'Montserrat';
	src: url('/ASSETS/FONTS/Montserrat/Montserrat-Regular.ttf') format('truetype'); 
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Overlock';
	src: url('/ASSETS/FONTS/Overlock/Overlock-Bold.ttf') format('truetype'); 
	font-weight: 700;
	font-style: normal;
  }


 
footer {
	background: var(--colorblack);
	padding: 20px 0;
	height: auto;
    box-sizing: border-box;
	
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box img{
    width: 100%;
	align-items: center;
}
.single-box p {
	color: var(--colorwhite);
	line-height: 1.9;
    text-align: center;
    font-size: 15px;

}
.single-box h3 {
	font-size: 15px;
	font-weight: 700;
	color: var(--color8);
	text-align: center;
}
.single-box .card-area i {
	color: var(--colorwhite);
	font-size: 15px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
    text-align: center;
}

.single-box ul li a {
	text-decoration: none;
	color: var(--colorwhite);
	line-height: 2.5;
	font-weight: 100;
	font-size: 15px;
}
.single-box h2 {
	color: var(--color8);
	font-size: 15px;
	font-weight: 700;
	align-items: center;
	text-align: center;
}
#basic-addon2 {
	background: var(--color8);
	color: var(--colorwhite);
	align-items: center;
}
.socials i {
	font-size: 20px;
	margin-right: 15px;
}


.single-box ul li a::after{
    content: "";
    display: block;
    border-bottom: 2px solid var(--color8);
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.6s linear;
    margin-top: 4px;
    
    
}
.single-box ul li a:hover::after{
  transform: scaleX(1);
  transform-origin: center;
  transition: transform 0.6s linear;
 
}
.card-area{
align-items: center;
text-align: center;
}

/* Estilos formulario */
#form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	/*background-color: var(--colorblack); */
	color:var(--colorwhite); 
padding: 10px;
}
  
  .field {
	margin-bottom: 10px;
  }
  
  
 
  
  .field input {
	display: block;
	min-width: 250px;
	font-size: 14px;
	background-color: var(--colorblack); 
	border: 1px solid;
	border-color: var(--color8); 
	border-radius: 10px;
	padding: 5px 7px; 
	color: var(--colorwhite);
	
  }
  .field input:hover{
	background-color: var(--color8);
	color: var(--color12)
  }
  
  input[type="submit"] {
	display: block;
	font-size: 14px;
	padding: 5px 7px; 
	background-color: var(--colorblack);
	color: var(--color12);
	border: 1px solid;
	border-color: var(--color8); 
	border-radius: 10px;
	cursor: pointer; 
  }
  
  input[type="submit"]:hover {
	background-color: var(--color8); 
}

.field input::placeholder { 
	color: var(--color12); 
	text-align: center;
 }
  
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}