/*Estilos generales*/
@font-face {
    font-family: 'Montserrat';
    src: url('/ASSETS/FONTS/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overlock';
    src: url('/ASSETS/FONTS/Overlock/Overlock-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
  }

* {
    font-family: "Montserrat" !important;
    font-weight: 400;
  }

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/ASSETS/IMG/fondo.webp") rgba(6, 3, 3, 0.6) !important;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    color: white;
}

/*Estilos para formulario*/
#iniciarSesionEncabezado {
    font-family: "Overlock" !important;
    font-weight: 800;
    text-align: center;
    font-size: 2.5em;
    color: #3DBFBB;
    margin-bottom: 15px;
}

.formIniciarSesion {
    margin: 20px;
    max-width: 400px !important;
    min-height: 350px;
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-12 {
    margin: 5px 0 5px !important;

    a {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 0.75em;
        text-decoration: none;
        transition: text-decoration 0.3 ease;
    }

    a:hover {
        text-decoration: underline;
    }
}

.form-control {
    background-color: black !important;
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    height: 45px;
}

.form-control::placeholder {
    color: #ccc !important;
    opacity: 1 !important;
}

.form-control:focus {
    background-color: black !important;
    color: white !important;
    outline: none !important;
}

#email {
    border: 3px solid #98BF3E;
}

#password1 {
    border: 3px solid #F0769F;
}

#button {
    text-align: center;

    button {
        margin: 0;
        border: 3px solid #3DC1B4;
        border-radius: 10px;
        background-color: #3DC1B4;
        transition: border background-color 0.3s ease;
    }

    button:hover {
        border: 3px solid #288a80;
        background-color: #288a80;
    }
}

/*.text-danger {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.75em;
    text-align: center;
}*/

input:-webkit-autofill {
    background-color: black !important; /* Fondo negro */
    color: white !important; /* Texto blanco */
    -webkit-text-fill-color: white !important; /* Color del texto para autofill */
    transition: background-color 5000s ease-in-out 0s; /* Previene el fondo blanco */
}

input:-webkit-autofill:focus {
    background-color: black !important; /* Fondo negro al enfocar */
    -webkit-text-fill-color: white !important; /* Texto blanco al enfocar */
}

input:-internal-autofill-selected {
    appearance: menulist-button; /* Ajuste de compatibilidad */
}