body{
    background:  url('/ASSETS/IMG/fondo.webp') rgba(6, 3, 3, 0.8); 
background-blend-mode: multiply;
background-position: center;
background-size: cover;
background-repeat: repeat;
}
.chart-container {
    background-color: #1E1E1E; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}


.list-group-item{
    background-color:#1E1E1E;
    color:white;
    cursor: default;
}

