@import "COLORES.css";

@font-face {
	font-family: 'Montserrat';
	src: url('/ASSETS/FONTS/Montserrat/Montserrat-Regular.ttf') format('truetype'); 
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Overlock';
	src: url('/ASSETS/FONTS/Overlock/Overlock-Bold.ttf') format('truetype'); 
	font-weight: 700;
	font-style: normal;
  }
  


body{
    background:  url('/ASSETS/IMG/fondo.webp') rgba(6, 3, 3, 0.6) !important; 
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.parent-container {
    display: flex;
    justify-content: center; 
  
   
  }
        .containerP {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 20px;
            background-color: var(--colorblack);
            margin: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 1400px;
        }
        .image-section, .details-section {
            flex: 1 1 100%;
            margin: 10px;
        }
        .product-image {
            width: 100%;
            border-radius: 10px;
        }
        .product-title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
            color: var(--color3);
            text-align: center;
        }
        .price {
            font-size: 20px;
            color: var(--color12);
            margin: 10px 0;
            text-align: center;
        }
      
        .free-shipping {
            color: var(--color3);
            font-weight: bold;
            margin: 10px 0;
            text-align: center;
        }
        .payment-options {
            margin-top: 10px;
            font-size: 14px;
            color: var(--color12);
            text-align: center;
        }
        
       
        .add-to-cart {
            background-color: var(--color3);
            color: white;
            padding: 10px;
            text-align: center;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 5px;
            align-items: center;
        }
        .add-to-cart:hover {
            background-color:var(--color8);
        }
        .description {
            margin-top: 20px;
            font-size: 14px;
            line-height: 1.6;
            color: var(--color12);
            text-align: center;
            align-items: center;
        }
        .details-section{
            align-items: center;

            
        }

       
        /*Reseñas*/
       
        .review {
            background-color: black;
            max-width: 100%;
            padding: 20px;
            margin: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color:var(--color12);
            font-family: 'Montserrat';
        }
/**/

/*fORM RESEÑA*/

.formR {
   
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
}
form, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: var(--color12);
    line-height: 13px;
    border-radius: 10px;
    
  }
  
  #h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: var(--color8);
    font-family: 'Overloock';
  }
  
  #h4 {
    margin: 20px 0 2px;
    color: var(--color8);
  }
  
  .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 80px;
    max-width: 800px;
  }
 .formRes  {
    width: 100%;
    padding: 20px;
    background: var(--colorblack);
    box-shadow: 0 2px 5px var(--color8);
    
  }
  
  .input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    vertical-align: middle;
    background-color: var(--color12);
  }
  
  .input:hover, textarea:hover {
    outline: none;
    border: 1px solid var(--color12);
  }
  
  
  textarea {
    width: calc(100% - 6px);
    background: #F7F7F7;
    border-radius: 5px;
  }
  
  .btn-block {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F3D153;
    font-size: 16px;
    color: #000;
    cursor: pointer;
  }
  
  button:hover {
    opacity: .9;
  }

.rating > label {
    margin-right: 4px;
  }
  
  .rating:not(:checked) > input {
    display: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
  }
  
  .rating:not(:checked) > label > svg {
    fill: #666;
    transition: fill 0.3s ease;
  }
  
  .rating > input:checked ~ label > svg {
    fill: var(--color5);
  }
  
  .rating:not(:checked) > label:hover ~ label > svg,
  .rating:not(:checked) > label:hover > svg {
    fill: var(--color5);
  }
  
  #star1:hover ~ label > svg,
  #star1:hover > svg {
    fill: var(--color1) !important;
  }
  
  #star2:hover ~ label > svg,
  #star2:hover > svg {
    fill: var(--color2) !important;
  }
  
  #star3:hover ~ label > svg,
  #star3:hover > svg {
    fill: var(--color3) !important;
  }
  
  #star4:hover ~ label > svg,
  #star4:hover > svg {
    fill: var(--color6) !important;
  }
  
  #star5:hover ~ label > svg,
  #star5:hover > svg {
    fill: var(--color5) !important;
  }
  
  #star1:checked ~ label > svg {
    fill: var(--color1);
  }
  
  #star2:checked ~ label > svg {
    fill: var(--color2);
  }
  
  #star3:checked ~ label > svg {
    fill: var(--color3);
  }
  
  #star4:checked ~ label > svg {
    fill: var(--color6);
  }
  
  #star5:checked ~ label > svg {
    fill: var(--color5);
  }


  .rainbow-hover {
    font-size: 16px;
    font-weight: 700;
    background-color: var(--colorblack);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px var(--color8),
    0px 4px 16px var(--color8);
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px)
      rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
  }
  
  .sp {
    background: linear-gradient(
        90deg,
        #9f2884,
        #3DBFBB,
        #98bf3E,
        #F6B94F,
        #f36b37
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: block;
  }
  
  .rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
  }
  



  
  @media (min-width: 568px) {
    th, td {
      word-break: keep-all;
    }
  }

        @media (min-width: 600px) {
            .review {
            max-width: 1400px;
            }
        }

        @media (min-width: 600px) {
            .image-section, .details-section {
                flex: 1;
            }
        }