@font-face {
    font-family: 'Montserrat';
    src: url('/ASSETS/FONTS/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overlock';
    src: url('/ASSETS/FONTS/Overlock/Overlock-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Montserrat" !important;
    font-weight: 400;
}

#miCuenta,
#carrito,
#pedidos,
#direcciones {
    font-family: "Overlock" !important;
}

#miCuenta {
    font-size: 3em;
    color: #9f2884;
}

#carrito,
#pedidos,
#direcciones {
    font-size: 2.2em;
    color: #c0219b;
}

main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/ASSETS/IMG/fondo.webp") rgba(6, 3, 3, 0.6) !important;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.cuenta {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 80% !important;
    background-color: #111;
    border-radius: 10px;
    padding: 2% 3% 2% !important;
    margin: 2% 0 2% !important;
}

.miCuenta {
    margin-bottom: 5% !important;
}

.cpd {
    display: flex;
}

#cerrarSesion {
    text-align: center;
    color: white;
    margin: 0;
    width: 140px;
    height: 40px;
    border: 3px solid #F1645A;
    border-radius: 10px;
    background-color: #F1645A;
    transition: border background-color 0.3s ease;
}

#cerrarSesion:hover {
    border: 3px solid #f54539;
    background-color: #f54539;
}

.agregaDireccion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 160px;
    height: 40px;
    border: 3px solid #F1645A;
    border-radius: 10px;
    background-color: #F1645A;
    transition: border background-color 0.3s ease;

    a {
        text-decoration: none;
        color: white;
    }

    a:hover,
    a:visited,
    a:active,
    a:focus {
        color: white;
        text-decoration: none;
    }
}

.agregaDireccion:hover {
    border: 3px solid #f54539;
    background-color: #f54539;
}