<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-trasparent">
    <div class="container">
        <!--logo-->
        <a class="navbar-brand fs-5" href="/index.html"><img id="logo" src="/ASSETS/IMG/imgLogo/logo1.png""></a>

        <!-- Toggle button -->
        <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Side Bar -->
        <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">

            <!-- Sidebar Header -->
            <div class="offcanvas-header border-bottom ">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img id="logo" src="/ASSETS/IMG/imgLogo/logo1.png""></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            
            <!-- Sidebar Body -->
            <div class="offcanvas-body d-flex flex-column flex-lg-row fs-5 p-4 p-lg-0 w-100">
                <ul class="navbar-nav justify-content-lg-around align-items-center justify-content-center flex-grow-1 pe-3 gap-4" >
                    <li class="nav-item d-sm-flex justify-content-center">
                        <a class="nav-link active" aria-current="page" href="/PAGES/backOffice/formProducts.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="/PAGES/backOffice/pedidos.html">Ventas</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</nav>
